/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug.
 * For devices running Windows Phone 8 Update 3 or above
 * you'd just add a quick snippet of CSS to fix viewport bug.
 * For details, see http://getbootstrap.com/getting-started/#support-ie10-width
 */

@-ms-viewport {
  width: device-width;
}

